@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,500,700&display=swap');

body header {
  display: flex;
  justify-content: space-between;
}

body header div {
  margin: 20px 50px;
}

body header .tit {
  display: flex;
  align-items: flex-start;
  justify-content: baseline;
  flex-direction: row;
}

body header .tit img {
  height: 38px;
  width: 38px;
  margin-right: 10px;
}

body header h1 {
  color: var(--secundaria);
}

body header .botao {
  margin-top: 18px;
}

body header .botao a {
  margin-top: 8px;
  padding: 10px 15px;
  border: 0;
  border-radius: 8px;
  background-color: var(--secundaria);
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  opacity: 80%;
  transition: 0.3s;
}

body header div.botao a:hover {
  opacity: 100%;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
  }
  
.texto h1 {
    color: var(--secundaria);
    opacity: 80%;
  }
  
.texto h3 {
    margin-top: 38px;
    text-align: justify;
    width: 688px;
  }

#nos .grade {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 220px 0 0 0;
  background-color: var(--secundaria);
}

#nos .grade .cont {
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 360px;
  border-radius: 14px;
  background-color: #fff;
  margin: 0 50px;
  padding: 0 20px;
  cursor: pointer;
  transform: translateY(-100px);
}

#nos .grade .cont p {
/* mudar depois a margin para 18 */
  margin-top: 38px;  
  align-self: center;
  text-align: center;
  transform: translateY(-38px);
  color: whitesmoke;
  font-size: 20px;
}

#nos .grade .cont .cargo {
  margin-top: 8px;
  align-self: center;
  text-align: justify;
  transform: translateY(-38px);
  color: whitesmoke;
  /* -webkit-text-stroke: 1.8px whitesmoke; */
  font-weight: 800;
  font-size: 30px;
}

#nos .grade #luka {
  background-color: var(--ensinomedio);
  align-items: left;
}

#nos .grade svg {
  height: 48px;
  width: 48px;
}

#nos .grade svg path {
  fill: #222;
}

#nos .grade #guilherme {
  background-color: var(--gradhumanas);
  align-items: center;
}


#nos .grade #chico {
  background-color: var(--gradexatas);
  align-items: flex-end;
}

#nos .grade img.avatar{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  transition: 0.3s;
  transform: translateY(-70px);
}

#nos .grade div:hover img.avatar {
  border-radius: 28%;
}

#nos .grade a {
  margin: 0 10px 10px;
  justify-self: center;
}

#nos .grade a img {
  height: 48px;
  width: 48px;
  transition: 0.3s;
  opacity: 50%;
}

#nos .contato a img{
    height: 48px;
    width: 48px;
    transition: 0.3s;
    opacity: 50%;
}

#nos .contato {
    align-self: center;
}

#nos .contato a img:hover {
    opacity: 100%;
  }

#nos .grade .cont h2{
    text-align: center;
    font-size: 34px;    
    -webkit-text-stroke: 1.8px #eee;
    color: transparent;
    transform: translateY(-48px);
    height: 75px;
    width: 320px;
  }

#nos .grade .contato {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 8px;
}
  
.agradecimentos {
    background-color: var(--secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-bottom: 40px; */
  }
  
.agradecimentos h2 {
    color: var(--claro);
    opacity: 80%;
  }
  
.agradecimentos li {
    margin-top: 38px;
    text-align: center;
    width: 688px;
    color: var(--fundo);
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s;
  }

.agradecimentos ul {
    margin-bottom: 28px;
}

.agradecimentos li a {
    color: var(--fundo);
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
  }

.agradecimentos li  a:visited {
    color: var(--fundo);
}

.agradecimentos li  a:hover {
    color: var(--claro);
}
  
footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 70px;
    border: 0;
    margin-top: 60px;
    align-items: center;
    justify-content: space-between;   
    background-color: var(--fundo);
  }
  
  footer div {
    margin: 0 70px;
  }
  
  
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style:none;
    padding: 0;
  }
  
  footer ul li a {
    display: flex;
    flex: 1;
    margin: 50px 20px;
  }
  
  footer ul li a img {
    height: 40px;
    width: 40px;
    transition: 0.3s;
    opacity: 50%;
  }
  
  footer ul li a img:hover {
    opacity: 100%;
  }
  