@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700&display=swap');


body header {
    display: flex;
    justify-content: space-between;
  }
  
  body header div {
    margin: 20px 50px;
  }
  
  .tit h1 {
    color: var(--gradhumanas);
  }

  body header .tit {
    display: flex;
    flex-direction: row;
  }
  
  body header .tit img {
    height: 38px;
    width: 38px;
    margin-right: 10px;
  }

  body header div button {
    margin: 0 5px;
    padding: 10px 15px;
    border: 0;
    border-radius: 8px;
    background-color: var(--gradhumanas);
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    opacity: 100%;
    transition: 0.3s;
  }

  .container {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .container .arvore {
    display: flex;
    flex-direction: column;
  }

  .container .arvore li {
    height: 50px;
    width: 50px;
    margin: 0 0 8px 0;
    background: linear-gradient(to right, var(--secundaria), #e0e0e0) ;
    list-style-position: inside;
    color: transparent;
  }

  .container .texto {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    width: 58vw;
    text-align: justify;
    background-color: whitesmoke;
  }

  .container .texto h1{
    color: var(--secundaria);
  }

  .container .texto h2, h3, h4, h5{
    color: var(--gradhumanas);
  }

  .container .texto p {
    color: #444;
    margin: 10px 0 0 20px;
    font-weight: 400;
    font-size: 18px;
  }

  .container .texto p img {
    float: right;
    width: 120px;
    margin: 10px;
  }

  .container .ad {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container .ad img{
    margin: 50px 50px 10px 10px;
    width: 350px;
  }

  footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 70px;
    border: 0;
    margin-top: 60px;
    align-items: center;
    justify-content: space-between;   
    background-color: var(--fundo);
  }
  
  footer div {
    margin: 0 70px;
  }
  
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style:none;
    padding: 0;
  }
  
  footer ul li a {
    display: flex;
    flex: 1;
    margin: 50px 20px;
  }
  
  footer ul li a img {
    height: 40px;
    width: 40px;
    transition: 0.3s;
    opacity: 50%;
  }
  
  footer ul li a img:hover {
    opacity: 100%;
  }